* {
    font-family: 'Oxygen',sans-serif;
    color: #222;
}

h1 {
    font-weight: 300;
    font-size: 4em;
    color: #222;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    min-height: 100%;
    background: url("http://farm8.staticflickr.com/7123/7594366574_330a1bbc8e_o.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-box-shadow: inset 0 0 .5em rgba(0,0,0,0.7);
    box-shadow: inset 0 0 .5em rgba(0,0,0,0.7);
}

.document .nav {
    box-shadow: 0 1px 1px rgba(0,0,0,0.3),inset 0 1px 1px rgba(255,255,255,0.1),inset 0 -1px 1px rgba(0,0,0,0.1);
    padding: .5em 1em;
    margin: 0;
    font-size: 2em;
    color: rgba(255,255,255,0.8);
}

.document .nav.documents {
    background: url("../images/noise_blue.png");
}

.document .nav.clients {
    background: url("../images/noise_green.png");
}

.document .nav.instances {
    background: url("../images/noise_pink.png");
}

.filters {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.filters .order {
    display: table-row;
}

.filters .order a {

    display: table-cell;
    padding: .5em;
    background: rgba(0,0,0,.1);
    text-decoration: none;
    font-size: .9em;
    color:#fff;
    box-shadow: inset 0 -.1em .05em rgba(0,0,0,.2);

    &:hover{
        box-shadow: inset 0 -.1em .05em rgba(0,0,0,.3);
    }

    &:active{
        box-shadow: inset 0 -.05em .05em rgba(0,0,0,.3), inset 0 .05em 0 #EEE;
        &:before, &:after{
            transition: top .1s;
            top:.01em;
        }
    }

    &:before{
        font-family:FontAwesome;
        content:"\f0dc  ";
    }

    &.client{
        background:#39ba42//url("../images/noise_green.png")
    }
    &.instance{
        background:#e031e0//url("../images/noise_pink.png")
    }
    &.type{
        background:#1282a1///url("../images/noise_blue.png")
    }
}

.document .list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.document .list a {
    border:1px #DDD solid;
    border-width: 0 1px 1px 1px;
    padding:0;// .5em;
    display: block;
    margin: 0;
    text-decoration: none;
    position: relative;

    &:after{
        clear: both;
        display: block;
        content: "";
    }
}

.document .list li .name {
    color: #222;
    //font-weight: 700;
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
    float: none;
    margin:0;
    padding:.5em;
    clear: both;
}
.document .list li .name *{
    display: block;
}

.document .list li .person,.document .list li .doctype, .document .list li .company, .document .list li .date {
    color: #222;
    font-weight: 400;
    margin: 0;
    font-size: .8em;
    display: block;
    width: 20%;
    padding:1%;
    float:left;
    border:1px solid #DDD;
    border-width: 0 0 1px 1px;
    box-sizing:border-box;
}
.document .list li span:nth-child(1){
    margin-left: 20%;
}

.document .list li .person:before,.document .list li .doctype:before,.document .list li .company:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

.document .list li .person {
    color: #39ba42;
}

.document .list li .person:before {
    content: "\f007  ";
}

.document .list li .doctype {
    color: #1282a1;
}

.document .list li .doctype:before {
    content: "\f0f6  ";
}

.document .list li .company {
    color: #e031e0;
}

.document .list li .company:before {
    content: "\f0f8  ";
}

.main-nav {
    background: none;
    border-right: .2em solid rgba(255,255,255,0.5);
    display: block;
    height: 11em;
    right: 50%;
    top: 50%;
    position: absolute;
    margin-top: -5.5em;
    width: 13em;
    font-size: 1.4em;
}

.main-nav a {
    display: block;
    background: rgba(255,255,255,0.726);
    width: 36%;
    height: 43%;
    margin: 0 14% 13% 0;
    float: left;
    font-size: .7em;
    text-align: center;
    line-height: 11em;
    text-decoration: none;
    color: black;
    -webkit-box-shadow: 0 0 1em rgba(0,0,0,0.1);
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
    position: relative;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    -ms-transition: background .3s;
    transition: background .3s;
    animation-duration: 60s;
    -webkit-animation-name: background-transition;
    -moz-animation-name: background-transition;
    -ms-animation-name: background-transition;
    -o-animation-name: background-transition;
    animation-name: background-transition;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.main-nav a:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    content: "\f0c0";
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 2em;
    font-size: 3em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5em;
}

.main-nav a:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
    background: rgba(255,255,255,0.9);
}

.main-nav a {
    border-radius: 25% 0 0 25%;
    color: #39ba42;
}

.main-nav a+a {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    border-radius: 0;
    color: #1282a1;
}

.main-nav a+a:before {
    content: "\f0f6";
}

.main-nav a+a+a {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    border-radius: 0;
    color: #e031e0;
}

.main-nav a+a+a:before {
    content: "\f0f8";
}

.main-nav a+a+a+a {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
    border-radius: 0 25% 25% 0;
    color: #666;
}

.main-nav a+a+a+a:before {
    content: "\f085";
}

.main-nav.client a:before {
    content: "\f05a";
}

.main-nav.client a+a:before {
    content: "\f0f6";
}

.main-nav.client a+a+a:before {
    content: "\f0f8";
}

.main-nav.client a+a+a+a:before {
    content: "\f085";
}

.main-nav.instance a:before {
    content: "\f0c0";
}

.main-nav.instance a+a:before {
    content: "\f0f6";
}

.main-nav.instance a+a+a:before {
    content: "\f05a";
}

.main-nav.instance a+a+a+a {
    background: rgba(255,255,255,0.264);
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
}

.main-nav.instance a+a+a+a:before {
    content: "";
}

h1 {
    animation-duration: 3s;
    -webkit-animation-name: slidein;
    -moz-animation-name: slidein;
    -ms-animation-name: slidein;
    -o-animation-name: slidein;
    animation-name: slidein;
}

@keyframes "background-transition" {
    0% {
        background: rgba(255,255,255,0.726);
    }

    10% {
        background: rgba(255,255,255,0.625);
    }

    20% {
        background: rgba(255,255,255,0.442);
    }

    30% {
        background: rgba(255,255,255,0.56);
    }

    40% {
        background: rgba(255,255,255,0.368);
    }

    50% {
        background: rgba(255,255,255,0.61);
    }

    60% {
        background: rgba(255,255,255,0.437);
    }

    70% {
        background: rgba(255,255,255,0.264);
    }

    80% {
        background: rgba(255,255,255,0.596);
    }

    90% {
        background: rgba(255,255,255,0.642);
    }

    100% {
        background: rgba(255,255,255,0.726);
    }
}

@-moz-keyframes background-transition {
    0% {
        background: rgba(255,255,255,0.726);
    }

    10% {
        background: rgba(255,255,255,0.625);
    }

    20% {
        background: rgba(255,255,255,0.442);
    }

    30% {
        background: rgba(255,255,255,0.56);
    }

    40% {
        background: rgba(255,255,255,0.368);
    }

    50% {
        background: rgba(255,255,255,0.61);
    }

    60% {
        background: rgba(255,255,255,0.437);
    }

    70% {
        background: rgba(255,255,255,0.264);
    }

    80% {
        background: rgba(255,255,255,0.596);
    }

    90% {
        background: rgba(255,255,255,0.642);
    }

    100% {
        background: rgba(255,255,255,0.726);
    }
}

@-webkit-keyframes "background-transition" {
    0% {
        background: rgba(255,255,255,0.726);
    }

    10% {
        background: rgba(255,255,255,0.625);
    }

    20% {
        background: rgba(255,255,255,0.442);
    }

    30% {
        background: rgba(255,255,255,0.56);
    }

    40% {
        background: rgba(255,255,255,0.368);
    }

    50% {
        background: rgba(255,255,255,0.61);
    }

    60% {
        background: rgba(255,255,255,0.437);
    }

    70% {
        background: rgba(255,255,255,0.264);
    }

    80% {
        background: rgba(255,255,255,0.596);
    }

    90% {
        background: rgba(255,255,255,0.642);
    }

    100% {
        background: rgba(255,255,255,0.726);
    }
}

@-ms-keyframes "background-transition" {
    0% {
        background: rgba(255,255,255,0.726);
    }

    10% {
        background: rgba(255,255,255,0.625);
    }

    20% {
        background: rgba(255,255,255,0.442);
    }

    30% {
        background: rgba(255,255,255,0.56);
    }

    40% {
        background: rgba(255,255,255,0.368);
    }

    50% {
        background: rgba(255,255,255,0.61);
    }

    60% {
        background: rgba(255,255,255,0.437);
    }

    70% {
        background: rgba(255,255,255,0.264);
    }

    80% {
        background: rgba(255,255,255,0.596);
    }

    90% {
        background: rgba(255,255,255,0.642);
    }

    100% {
        background: rgba(255,255,255,0.726);
    }
}

@-o-keyframes "background-transition" {
    0% {
        background: rgba(255,255,255,0.726);
    }

    10% {
        background: rgba(255,255,255,0.625);
    }

    20% {
        background: rgba(255,255,255,0.442);
    }

    30% {
        background: rgba(255,255,255,0.56);
    }

    40% {
        background: rgba(255,255,255,0.368);
    }

    50% {
        background: rgba(255,255,255,0.61);
    }

    60% {
        background: rgba(255,255,255,0.437);
    }

    70% {
        background: rgba(255,255,255,0.264);
    }

    80% {
        background: rgba(255,255,255,0.596);
    }

    90% {
        background: rgba(255,255,255,0.642);
    }

    100% {
        background: rgba(255,255,255,0.726);
    }
}

#detail {
    width: 11em;
    font-size: 1.4em;
    height: 11em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5.5em 0 0 1.8em;
}

#detail span {
    font-size: 3em;
    position: relative;
    display: block;
    margin: -0.2em 0 0;
    color: rgba(255,255,255,0.8);
    text-shadow: 0 0 1em rgba(0,0,0,0.5);
}

#detail.client span {
    color: rgba(57,186,66,0.8);
}

#detail span+span {
    margin: 0;
}

.sheet {
    background: url("../images/noise_white.png");
    width: 85%;
    margin: 0 4% 0 1%;
    padding: 5%;
    box-shadow: 0 .5em 1em rgba(0,0,0,0.3),inset 0 1px 1px #fff,inset 0 -1px 1px rgba(0,0,0,0.5);
    position: relative;
    top: 2em;
}
label{
    font-weight: 700;
    display: block;
    margin: 1em 0 .5em;
}

input[type="text"] {
    font-size: 1em;
    line-height: 1.5em;
    padding: .5em;
    display: block;
    margin: 0;
    border: solid .2em #ccc;
    background: #eee;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    transition: border .3s,background .3s,padding .3s,box-shadow .3s;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3),0 0 1px rgba(0,0,0,0.3);
}

input[type="text"]:active,input[type="text"]:focus {
    border: solid .2em #ddd;
    background: white;
    color: black;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);//,0 1px 3px rgba(0,0,0,0.3);
    outline: none;
}

.sheet.read input[type="text"] {
    font-size: 1em;
    line-height: 1.5em;
    min-height: 0;
    padding: 0em;
    display: block;
    margin: 0;
    border: solid 0 rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
}

.sheet input[type="text"]:disabled {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0em;
    display: block;
    margin: 0;
    border: solid 0 rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
}

textarea {
    font-size: 1em;
    line-height: 1.5em;
    padding: .5em;
    display: block;
    margin: 0;
    border: solid .2em #ccc;
    background: #eee;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    transition: border .3s,background .3s,padding .3s,box-shadow .3s;
    resize: vertical;
    min-height: 10em;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3),0 0 1px rgba(0,0,0,0.3);
}

textarea:active,textarea:focus {
    border: solid .2em #ddd;
    background: #fff;
    color: black;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);//,0 1px 3px rgba(0,0,0,0.3);
    outline: none;
}

.sheet.read textarea {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0em;
    border: dotted #666;
    border-width: 0 0 2px 0;
    display: block;
    margin: 0;
    border: solid 0 rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    min-height: 1em;
    box-shadow: none;
}

.sheet textarea:disabled {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0em;
    border: dotted #666;
    border-width: 0 0 2px 0;
    display: block;
    margin: 0;
    border: solid 0 rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    min-height: 1em;
    box-shadow: none;
}

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
