
		<div class="main-nav client"> 
			<a href="#client">Details</a>
			<a href="./list-documents.html">Documenten</a>
			<a href="./list-companies.html">Instanties</a>
			<a href="#gegevens,overdracht">Instellingen</a>
		</div>

		<div id="detail" class="client">
			<span>Henk de</span>
			<span>Vries</span>
			<span></span>
		</div>