{{partial layouts/menu}}

		<nav class="main-nav"> 
			{{#link-to 'clients'}}Clienten{{/link-to}}
			{{#link-to 'documents'}}Documenten{{/link-to}}
			{{#link-to 'instances'}}Instanties{{/link-to}}
			<a href="#">Instellingen</a>
		</nav>

		<article id="detail">
			<span>Welkom</span>
			<span>bij</span>
			<span>Sem!</span>
		</article>