
		<div class="main-nav instance"> 
			<a href="./list-clients.html">Clients</a>
			<a href="./list-documents.html">Documenten</a>
			<a href="./list-companies.html">Details</a>
			<a href="#"></a>
		</div>

		<div id="detail">
			<span>Zilveren</span>
			<span>Kruis</span>
		</div>