
			<!-- div class="nav instances"><a href="./index.html" class="home">Home</a> > <a href="./index.html" class="home">Instanties</a></div //-->
			<div class="content">

				<div class="sheet document">
					<h1>Instanties</h1>
					<div class="filters"></div>
					<ul class="list">
						<li>
							{{#link-to 'instance' 1}}
								<span class="instance">test</span>
							{{/link-to}}
						</li>
						{{#each instance}}
						<li>
							<a href="./instance.html" class="document">
								<span class="instance">{{name}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
				</div>

			</div>