<!--nav>
	<ul>
		<li class="menu-container">
			{{#link-to 'index'}}Hoofdmenu{{/link-to}}
			<ul>
				<li>{{#link-to 'clients'}}Clienten{{/link-to}}</li>
				<li>{{#link-to 'documents'}}Documenten{{/link-to}}</li>
				<li>{{#link-to 'instances'}}Instanties{{/link-to}}</li>
				<li></li>
			</ul>
		</li>
		<li class="menu-container">
			{{#link-to 'clients'}}Henk de Vries{{/link-to}} {{!-- TODO fix link --}}
			<ul>
				<li><a href="#main-menu">Details</a></li>
				<li><a href="#main-menu">Documenten</a></li>
				<li><a href="#main-menu">Instanties</a></li>
				<li></li>
			</ul>
		</li>
		<li class="menu-container">
			<a href="#gebruiker">Heel, Heel, Heel erg lange naam</a>
			<ul>
				<li><a href="#main-menu">Uitloggen</a></li>
			</ul>
		</li>
	</ul>
</nav-->